
src/cache_models/

src/camPhotos/

src/__pycache__/

src/routes/__pycache__/

src/utils/__pycache__/

src/attendence/

localhost9022.log

src/classRecogLib/__pycache__/

src/classroomLib/__pycache__/

misses/

0.0.0.0:9022.log

src/daemonManager/__pycache__/

src/zeroConfDNS/__pycache__/

test.py
